main {
  background: #000002;
}

@media (min-width: 330px) {
  #mantra {
    position: fixed;
    z-index: 10;
    top: 10vh;
  }

  #mantra #mantras-list {
    width: 100%;
    height: 49vh;
    overflow: hidden;
  }

  #mantra h1 {
    font-family: "Asimove-Light";
    font-size: 48px;
    line-height: 60px;
    float: left;
    width: 90%;
    color: #ffeb0c;
    letter-spacing: -0.09em;
  }
}

@media (min-width: 750px) {
  #mantra {
    width: 50%;
    height: 24vh;
    margin-left: 1vw;
    margin-top: 10vh;
  }

  #mantra #mantra-line {
    float: left;
    width: 6vw;
    height: 12vh;
    margin-right: 1.5vw;
    display: block;
    border-bottom: 1px solid #ffeb0c;
  }

  #mantra #mantra-line.black {
    border-bottom: 1px solid #000002;
  }

  #mantra br {
    display: block;
  }

  #mantra #mantras-list {
    width: 80%;
    float: left;
    height: 100%;
    overflow: hidden;
  }

  #mantra #mantras-list h1 {
    font-family: "Asimove-Light";
    font-size: 48px;
    line-height: 53px;
    float: left;
    width: 90%;
    color: #ffeb0c;
    letter-spacing: -0.09em;
  }

  #mantra h2 {
    margin-left: 2vw !important;
    font-family: "Source_Sans_Light" !important;
  }
}

@media (min-width: 330px) {
  #slides-positions {
    display: none;
  }
}

@media (min-width: 750px) {
  #slides-positions {
    width: 15%;
    height: 60px;
    display: inline-block;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 10%;
  }
}

#slides-positions .slide-position {
  position: relative;
  width: 15%;
  margin-right: 1%;
  height: 100%;
  float: left;
}

#slides-positions .slide-position .title {
  color: #ffffff;
}

#slides-positions .slide-position .title.active {
  float: left;
  display: block;
  width: 100%;
  height: 30%;
  font-size: 1vw;
  text-align: right;
  opacity: 1;
  position: relative;
  -webkit-animation: activeSlideLineTitle 800ms ease-out;
          animation: activeSlideLineTitle 800ms ease-out;
  margin-left: -5px;
}

#slides-positions .slide-position .title.hidden {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
  font-size: 1vw;
  text-align: center;
  opacity: 0;
  -webkit-animation: hideSlideLineTitle 100ms ease-out;
          animation: hideSlideLineTitle 100ms ease-out;
}

@-webkit-keyframes activeSlideLineTitle {
  0% {
    height: 50%;
    opacity: 0;
  }

  100% {
    height: 30%;
    opacity: 1;
  }
}

@keyframes activeSlideLineTitle {
  0% {
    height: 50%;
    opacity: 0;
  }

  100% {
    height: 30%;
    opacity: 1;
  }
}

@-webkit-keyframes hideSlideLineTitle {
  0% {
    height: 30%;
    opacity: 1;
  }

  100% {
    height: 50%;
    opacity: 0;
  }
}

@keyframes hideSlideLineTitle {
  0% {
    height: 30%;
    opacity: 1;
  }

  100% {
    height: 50%;
    opacity: 0;
  }
}

#slides-positions .slide-position .line.active {
  float: left;
  position: relative;
  width: 4%;
  height: 65%;
  margin-top: 10%;
  margin-left: 48%;
  margin-right: 48%;
  background: #ffffff;
  -webkit-animation: activeSlideLine 200ms ease-out;
          animation: activeSlideLine 200ms ease-out;
}

#slides-positions .slide-position .line.hidden {
  float: left;
  position: relative;
  width: 4%;
  height: 60%;
  margin-top: 15%;
  margin-left: 48%;
  margin-right: 48%;
  background: #ffffff;
  -webkit-animation: hideSlideLine 100ms ease-out;
          animation: hideSlideLine 100ms ease-out;
}

@-webkit-keyframes activeSlideLine {
  0% {
    margin-top: 15%;
    height: 60%;
  }

  100% {
    margin-top: 10%;
    height: 65%;
  }
}

@keyframes activeSlideLine {
  0% {
    margin-top: 15%;
    height: 60%;
  }

  100% {
    margin-top: 10%;
    height: 65%;
  }
}

@-webkit-keyframes hideSlideLine {
  0% {
    margin-top: 15%;
    height: 65%;
  }

  100% {
    margin-top: 10%;
    height: 60%;
  }
}

@keyframes hideSlideLine {
  0% {
    margin-top: 15%;
    height: 65%;
  }

  100% {
    margin-top: 10%;
    height: 60%;
  }
}

#landing-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000002;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  color: #ffffff !important;
}

#logo-preloader h1 {
  color: #000002;
  width: 100%;
}

#logo-preloader.hidden {
  display: none;
}

#logo-preloader.hidden,
#logo-preloader h1 {
  display: none;
}

#logo-preloader.active {
  z-index: 3;
  position: fixed;
  display: block;
}

#logo-preloader.active,
#logo-preloader h1 {
  display: block;
  top: 50%;
  margin-left: 25%;
}

#toggler_circle.hidden {
  position: fixed;
  z-index: 2;
  z-index: 2;
  width: 10%;
  right: -2%;
  top: -5%;
  -webkit-animation: circleClose 700ms ease-in-out 0ms;
          animation: circleClose 700ms ease-in-out 0ms;
}

#toggler_circle.active {
  z-index: 2;
  position: fixed;
  width: 80%;
  right: -12%;
  top: -25%;
  -webkit-animation: circleOpen 600ms ease-in-out;
          animation: circleOpen 600ms ease-in-out;
}

#toggler_circle.cover {
  z-index: 2;
  position: fixed;
  width: 200%;
  right: -30%;
  top: -60%;
  -webkit-animation: circleCover 600ms ease-in-out;
          animation: circleCover 600ms ease-in-out;
}

#toggler_circle.cover_entire {
  z-index: 2;
  position: fixed;
  width: 200%;
  right: -30%;
  top: -60%;
}

@-webkit-keyframes circleOpen {
  0% {
    width: 10%;
    right: -2%;
    top: -5%;
  }

  100% {
    width: 80%;
    right: -12%;
    top: -25%;
  }
}

@keyframes circleOpen {
  0% {
    width: 10%;
    right: -2%;
    top: -5%;
  }

  100% {
    width: 80%;
    right: -12%;
    top: -25%;
  }
}

@-webkit-keyframes circleClose {
  0% {
    width: 80%;
    right: -12%;
    top: -25%;
  }

  20% {
    width: 80%;
    right: -12%;
    top: -25%;
  }

  100% {
    width: 10%;
    right: -2%;
    top: -5%;
  }
}

@keyframes circleClose {
  0% {
    width: 80%;
    right: -12%;
    top: -25%;
  }

  20% {
    width: 80%;
    right: -12%;
    top: -25%;
  }

  100% {
    width: 10%;
    right: -2%;
    top: -5%;
  }
}

@-webkit-keyframes circleCover {
  0% {
    width: 80%;
    right: -12%;
    top: -25%;
  }

  100% {
    width: 200%;
    right: -30%;
    top: -60%;
  }
}

@keyframes circleCover {
  0% {
    width: 80%;
    right: -12%;
    top: -25%;
  }

  100% {
    width: 200%;
    right: -30%;
    top: -60%;
  }
}

#toggler_black_circle.hidden {
  z-index: 3;
  position: fixed;
  opacity: 0;
  width: 0%;
  display: none;
  -webkit-animation: circleBlackClose 600ms ease-in-out;
          animation: circleBlackClose 600ms ease-in-out;
}

#toggler_black_circle.active {
  opacity: 1;
  z-index: 3;
  display: block;
  position: fixed;
  width: 30%;
  top: 15%;
  right: 50%;
  -webkit-animation: circleBlackOpen 1000ms ease-in-out;
          animation: circleBlackOpen 1000ms ease-in-out;
}

@-webkit-keyframes circleBlackOpen {
  0% {
    opacity: 0;
    width: 0%;
    right: 50%;
    top: 15%;
  }

  30% {
    opacity: 0;
    width: 0%;
    right: 50%;
    top: 15%;
  }

  100% {
    opacity: 1;
    width: 30%;
    right: 50%;
    top: 15%;
  }
}

@keyframes circleBlackOpen {
  0% {
    opacity: 0;
    width: 0%;
    right: 50%;
    top: 15%;
  }

  30% {
    opacity: 0;
    width: 0%;
    right: 50%;
    top: 15%;
  }

  100% {
    opacity: 1;
    width: 30%;
    right: 50%;
    top: 15%;
  }
}

@-webkit-keyframes circleBlackClose {
  0% {
    opacity: 1;
    width: 80%;
    right: -12%;
    top: -25%;
  }

  30% {
    opacity: 1;
    width: 80%;
    right: -12%;
    top: -25%;
  }

  100% {
    opacity: 0;
    width: 10%;
    right: -2%;
    top: -5%;
    display: none;
  }
}

@keyframes circleBlackClose {
  0% {
    opacity: 1;
    width: 80%;
    right: -12%;
    top: -25%;
  }

  30% {
    opacity: 1;
    width: 80%;
    right: -12%;
    top: -25%;
  }

  100% {
    opacity: 0;
    width: 10%;
    right: -2%;
    top: -5%;
    display: none;
  }
}

#nav-black-circle-content h4 {
  font-family: "Helvetica Neue";
}

#nav-black-circle-content p {
  font-family: "Helvetica Neue";
}

#nav-black-circle-content.hidden {
  display: none;
  opacity: 0;
}

#nav-black-circle-content.active {
  top: 30%;
  right: 53%;
  position: fixed;
  z-index: 4;
  -webkit-animation: blackCircleTxtAppear 2000ms ease-in-out;
          animation: blackCircleTxtAppear 2000ms ease-in-out;
}

@-webkit-keyframes blackCircleTxtAppear {
  0% {
    opacity: 0;
    display: none;
  }

  70% {
    opacity: 0;
    right: 51%;
  }

  100% {
    opacity: 1;
    right: 53%;
  }
}

@keyframes blackCircleTxtAppear {
  0% {
    opacity: 0;
    display: none;
  }

  70% {
    opacity: 0;
    right: 51%;
  }

  100% {
    opacity: 1;
    right: 53%;
  }
}

#nav-yellow-circle-content ul {
  list-style-type: none;
}

#nav-yellow-circle-content a {
  font-family: "Helvetica Neue";
  float: left;
  width: 100%;
  color: #000002;
  font-size: 48px;
}

#nav-yellow-circle-content a:hover {
  cursor: pointer;
}

#nav-yellow-circle-content.hidden {
  display: none;
  opacity: 0;
}

#nav-yellow-circle-content.active {
  position: fixed;
  z-index: 4;
  display: block;
  left: 60%;
  top: 30%;
  -webkit-animation: yellowCircleTxtAppear 1200ms ease-in-out;
          animation: yellowCircleTxtAppear 1200ms ease-in-out;
}

@-webkit-keyframes yellowCircleTxtAppear {
  0% {
    opacity: 0;
    display: none;
  }

  60% {
    opacity: 0;
    left: 66%;
  }

  100% {
    opacity: 1;
    left: 60%;
  }
}

@keyframes yellowCircleTxtAppear {
  0% {
    opacity: 0;
    display: none;
  }

  60% {
    opacity: 0;
    left: 66%;
  }

  100% {
    opacity: 1;
    left: 60%;
  }
}

#toggler_burger {
  width: 4%;
  position: fixed;
  top: 4%;
  right: 2%;
  z-index: 2;
}

#toggler_burger.hidden {
  display: none;
}

#toggler_burger:hover {
  cursor: pointer;
}

#services-list-wrapper {
  width: 50vw;
  height: auto;
  float: left;
  margin-top: 5vh;
}

@media (min-width: 330px) {
  #services-intro {
    margin-left: 2vw;
  }

  #services-intro h2 {
    display: none;
  }
}

@media (min-width: 750px) {
  #services-intro h2 {
    display: block;
    margin-left: 9vw;
    margin-top: 40vh;
    width: 100%;
    float: left;
  }

  #services-intro h3 {
    display: block;
    margin-left: 5vw;
    margin-top: 55vh;
    width: 100%;
    float: left;
  }
}

@media (min-width: 330px) {
  #services-widget {
    width: 101vw;
    height: 30%;
    bottom: -2px;
    position: fixed;
    overflow: hidden;
    z-index: 10;
  }

  #services-widget #content {
    width: 80%;
  }

  #services-widget #content #service-picture {
    overflow: hidden;
  }

  #services-widget #content .service-illustration.active {
    display: block;
  }

  #services-widget #content .service-illustration.hidden {
    display: none;
  }

  #services-widget #content #services-position {
    width: 45vw;
    top: 53%;
    height: auto;
    position: fixed;
    left: -6%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  #services-widget #content #services-position span {
    font-size: 56px;
  }

  #services-widget #content #services-position span#separator {
    color: #ffeb0c;
  }

  #services-widget #content #service-presentation-text {
    float: left;
    padding-right: 2%;
    max-width: 100%;
    height: 100%;
    background-color: #000002;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

  #services-widget #content #service-presentation-text #service-text-transition {
    width: 100%;
    height: 100%;
    background-color: #000002;
    position: absolute;
  }

  #services-widget #content #service-presentation-text #service-text-transition.active {
    display: block;
    width: 100%;
    -webkit-animation: yellowBlocAppear 1000ms ease-in-out;
            animation: yellowBlocAppear 1000ms ease-in-out;
  }

  #services-widget #content #service-presentation-text #service-text-transition.hidden {
    display: inline;
    width: 0%;
    -webkit-animation: yellowBlocDisappear 500ms ease-in-out;
            animation: yellowBlocDisappear 500ms ease-in-out;
  }

@-webkit-keyframes yellowBlocAppear {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
}

@keyframes yellowBlocAppear {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
}

@-webkit-keyframes yellowBlocDisappear {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
}

@keyframes yellowBlocDisappear {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
}

  #services-widget #content #service-presentation-text .service-text h3 {
    color: #ffffff !important;
    font-size: 30px;
    text-align: right;
    padding-right: 7px;
  }

  #services-widget #content #service-presentation-text .service-text p {
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
    font-family: "Source_Sans_Regular";
  }

  #services-widget #content #service-presentation-text .service-text.active {
    display: block;
  }

  #services-widget #content #service-presentation-text .service-text.hidden {
    display: none;
  }
}

@media (min-width: 750px) {
  #services-widget {
    width: 45vw;
    height: 35%;
    bottom: 0px;
    bottom: 0;
    position: fixed;
    overflow: hidden;
  }

  #services-widget #content {
    width: 80%;
  }

  #services-widget #content #service-picture {
    overflow: hidden;
  }

  #services-widget #content .service-illustration.active {
    display: block;
  }

  #services-widget #content .service-illustration.hidden {
    display: none;
  }

  #services-widget #content #services-position {
    width: 45vw;
    top: 53%;
    height: auto;
    position: fixed;
    left: -6%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  #services-widget #content #services-position span {
    font-size: 56px;
  }

  #services-widget #content #services-position span#separator {
    color: #ffeb0c;
  }

  #services-widget #content #service-presentation-text {
    float: left;
    padding-right: 2%;
    max-width: 50%;
    height: 99%;
    background-color: #000002;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }

  #services-widget #content #service-presentation-text #service-text-transition {
    width: 100%;
    height: 100%;
    background-color: #000002;
    position: absolute;
  }

  #services-widget #content #service-presentation-text #service-text-transition.active {
    display: block;
    width: 100%;
    -webkit-animation: yellowBlocAppear 500ms ease-in-out;
            animation: yellowBlocAppear 500ms ease-in-out;
  }

  #services-widget #content #service-presentation-text #service-text-transition.hidden {
    display: inline;
    width: 0%;
    -webkit-animation: yellowBlocDisappear 500ms ease-in-out;
            animation: yellowBlocDisappear 500ms ease-in-out;
  }

@-webkit-keyframes yellowBlocAppear {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
}

@keyframes yellowBlocAppear {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
}

@-webkit-keyframes yellowBlocDisappear {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
}

@keyframes yellowBlocDisappear {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
}

  #services-widget #content #service-presentation-text .service-text h3 {
    color: #ffffff !important;
    font-size: 30px;
    text-align: right;
    padding-right: 7px;
  }

  #services-widget #content #service-presentation-text .service-text p {
    padding-left: 5%;
    color: #ffffff;
    font-family: Source_Sans_Regular !important;
  }

  #services-widget #content #service-presentation-text .service-text.active {
    display: block;
  }

  #services-widget #content #service-presentation-text .service-text.hidden {
    display: none;
  }

  #services-widget #widget-nav-wrap {
    width: 20%;
    height: 80%;
    float: right;
    background-color: red;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  #services-widget #widget-nav-wrap .service-widget-btn {
    width: 120px;
    height: 320px;
    vertical-align: middle;
    background-color: #ffeb0c;
    color: #000002;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
    display: inline-block;
  }

  #services-widget #widget-nav-wrap .service-widget-btn:hover {
    background-color: #ffffff;
    cursor: pointer;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  #services-widget #widget-nav-wrap .service-widget-btn img {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 40%;
    margin-bottom: auto;
  }
}

.services-list-wrapper {
  color: #ffffff;
}

input:-webkit-autofill {
  display: none !important;
}

.contact-page #contact-form-html.active {
  display: block;
  margin-left: 0%;
  opacity: 1;
  width: 80%;
  display: block;
}

.contact-page #contact-form-html.hidden {
  margin-left: 100%;
  opacity: 0;
  width: 0%;
  -webkit-animation: formDisapear 300ms ease-in-out;
          animation: formDisapear 300ms ease-in-out;
}

@-webkit-keyframes formDisapear {
  0% {
    margin-left: 0%;
    opacity: 1;
    width: 100%;
    display: block;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    margin-left: 100%;
    opacity: 0;
    width: 0%;
    display: none;
  }
}

@keyframes formDisapear {
  0% {
    margin-left: 0%;
    opacity: 1;
    width: 100%;
    display: block;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    margin-left: 100%;
    opacity: 0;
    width: 0%;
    display: none;
  }
}

.contact-page #success-message {
  height: 50vh;
  width: 100%;
  color: #ffeb0c;
}

.contact-page #success-message.active {
  -webkit-animation: successMessageAppear 1200ms ease-in-out;
          animation: successMessageAppear 1200ms ease-in-out;
  display: block;
  position: fixed;
  z-index: 20;
  opacity: 1;
}

@media (min-width: 330px) {
  .contact-page #success-message.active {
    top: 40%;
    left: 10%;
  }
}

@media (min-width: 750px) {
  .contact-page #success-message.active {
    top: 40%;
    left: 30%;
  }
}

.contact-page #success-message.hidden {
  display: none;
  opacity: 0;
  width: 100%;
  -webkit-transition: 100ms;
  transition: 100ms;
}

@-webkit-keyframes successMessageAppear {
  0% {
    opacity: 0;
    width: 100%;
    margin-right: 100%;
    display: block;
    height: 50vh;
  }

  40% {
    opacity: 0;
    width: 100%;
    margin-right: 100%;
    display: block;
    height: 50vh;
  }

  100% {
    opacity: 1;
    width: 100%;
    margin-right: 0%;
    display: block;
    height: 50vh;
  }
}

@keyframes successMessageAppear {
  0% {
    opacity: 0;
    width: 100%;
    margin-right: 100%;
    display: block;
    height: 50vh;
  }

  40% {
    opacity: 0;
    width: 100%;
    margin-right: 100%;
    display: block;
    height: 50vh;
  }

  100% {
    opacity: 1;
    width: 100%;
    margin-right: 0%;
    display: block;
    height: 50vh;
  }
}

.contact-page #form-transition.hidden {
  display: none;
}

.contact-page #form-transition.active {
  display: block;
  width: 100%;
  height: 100%;
  background: #000002;
}

@media (min-width: 330px) {
  .contact-page {
    margin-left: 2vw;
    margin-top: 5vh;
    height: auto;
    width: 96vw;
    float: left;
    display: block;
  }
}

@media (min-width: 750px) {
  .contact-page {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 96vw;
    height: 95vh;
    float: left;
  }
}

@media (min-width: 330px) {
  #contact-form {
    display: block;
    width: 95vw;
    margin: 2vw;
    float: left;
    height: auto;
  }
}

@media (min-width: 750px) {
  #contact-form {
    width: 50vw;
    float: right;
    height: 50vh;
  }
}

@media (min-width: 330px) {
  #contact-wrap.contact {
    display: block;
    float: left;
    width: 100vw;
    margin-top: 2vw;
  }
}

@media (min-width: 750px) {
  #contact-wrap.contact {
    display: block;
    float: left;
    width: 40vw;
    margin-top: 2vw;
  }
}

#contact-wrap p {
  font-size: 24px;
  margin-left: 7vw;
}

@media (min-width: 330px) {
  #contact-form-btn-wrap {
    float: left;
    width: 80%;
    margin-left: 6%;
    height: auto;
  }

  #contact-form-btn-wrap button {
    float: right;
    width: 60px;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
  }

  #contact-form-btn-wrap button svg {
    width: auto;
    margin: 10%;
    height: 80%;
    fill: #ffffff !important;
  }
}

@media (min-width: 750px) {
  #contact-form-btn-wrap {
    width: 100%;
    height: auto;
    float: left;
    margin-left: 5%;
  }
}

#contact-form-btn-wrap button {
  float: right;
  width: 60px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
}

#contact-form-btn-wrap button svg {
  width: auto;
  margin: 10%;
  height: 80%;
  fill: #ffffff !important;
}

#contact-form-btn-wrap input[type=submit] {
  float: right;
}

#contact-form-btn-wrap input[type=submit] svg {
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

@media (min-width: 330px) {
  #adresse-wrap {
    float: left;
    display: block;
    margin: 2vw;
    width: 96vw;
    height: auto;
    opacity: 0.8;
  }

  #adresse-wrap p {
    margin-bottom: 5vh;
    margin-left: 5vw;
  }
}

@media (min-width: 750px) {
  #adresse-wrap {
    float: left;
    display: block;
    width: 46vw;
    width: auto;
    height: auto;
    margin-left: calc(2vw);
    margin-bottom: 0vh;
  }
}

@media (min-width: 750px) {
  #copyrights-wrap {
    border-top: 1px solid #000002;
    padding-top: 5px;
    margin-top: 80%;
    width: 100%;
    height: auto;
    margin-left: 5vw;
    font-size: 12px;
    opacity: 0.7;
  }
}

canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 330px) {
  .scene-nav {
    font-size: 1.15em;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 11;
    background: none;
    border: 0;
    right: 0;
    color: var(--color-nav);
    width: 50px;
    height: 50px;
    fill: #ffffff;
  }

  .scene-nav svg {
    width: 30%;
  }
}

@media (min-width: 750px) {
  .scene-nav {
    font-size: 1.15em;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 10;
    background: none;
    border: 0;
    right: 0;
    color: var(--color-nav);
    width: 50px;
    height: 50px;
    fill: #ffffff;
  }

  .scene-nav:hover {
    -webkit-transition: 200ms;
    transition: 200ms;
    fill: #000002;
    background-color: #ffffff;
  }

  .scene-nav svg {
    width: 30%;
  }
}

.scene-nav:focus {
  outline: none;
}

@media (min-width: 330px) {
  .scene-nav--prev {
    position: fixed;
    right: calc(0% + 50px);
    top: 66.51vh;
    background-color: #000002;
    border: 1px solid #ffffff;
  }

  .scene-nav--next {
    right: 0;
    top: 66.51vh;
    background-color: #000002;
    border: 1px solid #ffffff;
  }
}

@media (min-width: 750px) {
  .scene-nav--prev {
    left: 45vw;
    top: calc(68% + 50px);
    top: -webkit-calc(68% + 50px);
    background-color: #000002;
    fill: #ffffff;
    border: 1px solid #ffffff;
  }

  .scene-nav--next {
    left: 45vw;
    top: 68.6%;
    background-color: #000002;
    fill: #ffffff;
    border: 1px solid #ffffff;
  }
}

.slide-wrapper {
  display: none;
}

.icon--arrow-nav-next {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/* Color schemes */

.demo-1 {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #8fe8ff;
  --color-link-hover: #fff;
  --color-info: #72af3a;
  --color-nav: #fff;
}

.demo-2 {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #9cf9db;
  --color-link-hover: #fff;
  --color-info: #f3a145;
  --color-nav: #fff;
}

.demo-3 {
  --color-text: #fff;
  --color-bg: #a9b1b7;
  --color-link: #201b18;
  --color-link-hover: #224d94;
  --color-info: #fff473;
  --color-nav: #fff;
}

/* Fade effect */

.js body {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.js body.render {
  opacity: 1;
}

#slider-container {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  right: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.content--fixed {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
  max-width: none;
  height: 100vh;
  padding: 1.5em;
  pointer-events: none;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 4em;
  grid-template-areas: 'header ...';
}

.content--fixed a {
  pointer-events: auto;
}

.info {
  margin: 0 0 0 1.25em;
  font-style: italic;
  color: var(--color-info);
  font-weight: bold;
}

.demos {
  position: relative;
  display: block;
  -ms-flex-item-align: end;
      align-self: end;
  text-align: center;
  grid-area: demos;
}

.demo {
  margin: 0 0 0 0.15em;
}

.demo:hover,
.demo:focus {
  opacity: 0.5;
}

.demo span {
  white-space: nowrap;
  text-transform: lowercase;
  pointer-events: none;
}

.demo span::before {
  content: '#';
}

a.demo--current {
  pointer-events: none;
}

/* Top Navigation Style */

.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

@media screen and (min-width: 55em) {
  .demos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
  }

  .demo {
    display: block;
    width: 17px;
    height: 17px;
    margin: 0 4px;
    border-radius: 50%;
    background: var(--color-link);
  }

  a.demo--current {
    background: var(--color-link-hover);
  }

  .demo span {
    position: absolute;
    line-height: 1;
    right: 100%;
    display: none;
    margin: 0 1em 0 0;
  }

  .demo--current span {
    display: block;
  }
}

@media screen and (max-width: 55em) {
  .content--fixed {
    position: relative;
    z-index: 1000;
    display: block;
    padding: 0.85em;
  }
}

@font-face {
  font-family: "Asimove";
  src: url("/fonts/asimov/AsimovXWid.otf");
}

@font-face {
  font-family: "Asimove-Light";
  src: url("/fonts/asimov/AsimovDist.otf");
}

@font-face {
  font-family: "Source_Sans_Bold";
  font-style: bold;
  src: url("/fonts/Source_Sans/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: "Source_Sans_Regular";
  src: url("/fonts/Source_Sans/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source_Sans_Bold";
  src: url("/fonts/Source_Sans/SourceSansPro-Light.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

@media (min-width: 330px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 750px) {
  body {
    overflow: hidden;
  }
}

input,
textarea {
  padding: 5px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

@media (min-width: 400px) {
  .hide-overflow {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 750px) {
  .hide-overflow {
    overflow: hidden;
  }
}

#page-title {
  width: 100%;
  float: left;
  height: auto;
  display: block;
  padding-top: 9vh;
}

@media (min-width: 330px) {
  #page-title #mantra-line {
    float: left;
    display: block;
    width: 10%;
    height: 60px;
    margin-right: 5px;
    border-bottom: 2px solid #000002;
  }

  #page-title #title {
    width: 80%;
    height: auto;
    float: left;
  }

  #page-title #title h1 {
    font-family: "Asimove-Light";
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.09em;
  }

  #page-title p {
    font-size: 32px;
    margin-left: 7vw;
    font-family: "Source_Sans_Bold";
    font-size: 20px;
  }
}

@media (min-width: 750px) {
  #page-title #mantra-line {
    width: 6vw;
    height: 60px;
    margin-right: 5px;
    float: left;
    border-bottom: 2px solid #000002;
  }

  #page-title h1 {
    font-family: "Asimove-Light";
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.09em;
  }

  #page-title p {
    width: 100%;
    float: left;
    position: relative;
    font-size: 20px;
    margin-left: calc(7vw);
    font-family: "Source_Sans_Bold";
    margin-top: -2vh;
  }
}

.color-yellow {
  color: #ffeb0c;
}

.color-black {
  color: #000002 !important;
  fill: #000002;
}

.black-body {
  background-color: #000002;
  opacity: 1;
  -webkit-animation: bodyAppear 800ms ease-in-out;
          animation: bodyAppear 800ms ease-in-out;
}

.yellow-body {
  background-color: #ffeb0c;
  opacity: 1;
  -webkit-animation: bodyAppear 800ms ease-in-out;
          animation: bodyAppear 800ms ease-in-out;
}

.yellow-body #yellow-menu-elipse-1 circle {
  stroke: #000002;
}

.yellow-body #yellow-menu-elipse-2 circle {
  stroke: #000002;
}

.yellow-body #yellow-menu-wrap circle {
  fill: #000002 !important;
}

@-webkit-keyframes bodyAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bodyAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 330px) {
  #nav-wrapper #contact-link {
    position: fixed;
    top: 6vh;
    z-index: 10;
    right: 22vw;
  }
}

@media (min-width: 750px) {
  #nav-wrapper #contact-link {
    position: fixed;
    top: 6vh;
    z-index: 10;
    right: 7.5vw;
    font-variant: all-small-caps;
    opacity: 0.8;
    font-size: 14px;
    letter-spacing: 0.2em;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  #nav-wrapper #contact-link:hover {
    opacity: 1;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
}

#nav-toggler {
  position: fixed;
  display: block;
  top: 1%;
  right: 2%;
  z-index: 10;
  width: 65px;
  height: 65px;
}

#nav-toggler:hover {
  cursor: pointer;
}

#nav-toggler:hover #contact-link {
  color: #ffffff !important;
}

#nav-toggler #yellow-menu-wrap {
  position: fixed;
  display: block;
  z-index: 12;
  top: 43px;
  width: 14px;
}

@media (min-width: 330px) {
  #nav-toggler #yellow-menu-wrap {
    right: 43px;
  }
}

@media (min-width: 750px) {
  #nav-toggler #yellow-menu-wrap {
    right: 53px;
  }
}

#nav-toggler #yellow-menu-wrap .preloader-actived {
  width: 250vw;
  top: -50%;
  right: -75%;
  z-index: 100;
  -webkit-transition: 300ms;
  transition: 300ms;
}

@media (min-width: 330px) {
  #nav-toggler #yellow-menu-wrap.preloader-active {
    width: 650vw;
    top: -100vh;
    right: -200vw;
    z-index: 100;
    -webkit-animation: preloaderActiveMobile 600ms ease-in-out;
            animation: preloaderActiveMobile 600ms ease-in-out;
  }
}

@media (min-width: 750px) {
  #nav-toggler #yellow-menu-wrap.preloader-active {
    width: 250vw;
    top: -440px;
    right: -75%;
    z-index: 100;
    -webkit-animation: preloaderActive 600ms ease-in-out;
            animation: preloaderActive 600ms ease-in-out;
  }
}

@-webkit-keyframes preloaderActiveMobile {
  0% {
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 40px;
    width: 20px;
  }

  100% {
    z-index: 100;
    width: 650vw;
    height: 250vh;
    top: -100vh;
    right: -200vw;
  }
}

@keyframes preloaderActiveMobile {
  0% {
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 40px;
    width: 20px;
  }

  100% {
    z-index: 100;
    width: 650vw;
    height: 250vh;
    top: -100vh;
    right: -200vw;
  }
}

@-webkit-keyframes preloaderActive {
  0% {
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 4.25%;
    width: 1.5%;
  }

  100% {
    position: fixed;
    z-index: 100;
    width: 250vw;
    height: 250vh;
    top: -440px;
    right: -75%;
  }
}

@keyframes preloaderActive {
  0% {
    position: fixed;
    z-index: 10;
    top: 40px;
    right: 4.25%;
    width: 1.5%;
  }

  100% {
    position: fixed;
    z-index: 100;
    width: 250vw;
    height: 250vh;
    top: -440px;
    right: -75%;
  }
}

#nav-toggler #yellow-menu-elipse-1 {
  position: fixed;
  display: block;
  z-index: 10;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#nav-toggler #yellow-menu-elipse-1.loop {
  top: 40px;
  right: 3.5%;
  width: 3%;
  -webkit-animation: elipse1Loop 1.8s ease-in-out infinite;
          animation: elipse1Loop 1.8s ease-in-out infinite;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#nav-toggler #yellow-menu-elipse-1.focus {
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (min-width: 330px) {
  #nav-toggler #yellow-menu-elipse-1.focus {
    opacity: 1;
    top: 32px;
    right: 32px;
    width: 35px;
  }
}

@media (min-width: 750px) {
  #nav-toggler #yellow-menu-elipse-1.focus {
    opacity: 1;
    top: 30px;
    right: 40px;
    width: 40px;
  }
}

#nav-toggler #yellow-menu-elipse-2 {
  position: fixed;
  display: block;
  z-index: 10;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#nav-toggler #yellow-menu-elipse-2.loop {
  top: 40px;
  right: 3%;
  width: 40px;
  -webkit-animation: elipse2Loop 1.2s ease-in-out infinite;
          animation: elipse2Loop 1.2s ease-in-out infinite;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#nav-toggler #yellow-menu-elipse-2.focus {
  -webkit-transition: 500ms;
  transition: 500ms;
}

@media (min-width: 330px) {
  #nav-toggler #yellow-menu-elipse-2.focus {
    opacity: 1;
    top: 35px;
    right: 35px;
    width: 30px;
  }
}

@media (min-width: 750px) {
  #nav-toggler #yellow-menu-elipse-2.focus {
    opacity: 1;
    top: 35px;
    right: 45px;
    width: 30px;
  }
}

@media (min-width: 330px) {
@-webkit-keyframes elipse1Loop {
    0% {
      opacity: 1;
      top: 32px;
      right: 32px;
      width: 35px;
    }

    50% {
      opacity: 0;
      top: 28px;
      right: 27px;
      width: 45px;
    }

    100% {
      opacity: 1;
      top: 32px;
      right: 32px;
      width: 35px;
    }
}
@keyframes elipse1Loop {
    0% {
      opacity: 1;
      top: 32px;
      right: 32px;
      width: 35px;
    }

    50% {
      opacity: 0;
      top: 28px;
      right: 27px;
      width: 45px;
    }

    100% {
      opacity: 1;
      top: 32px;
      right: 32px;
      width: 35px;
    }
}

@-webkit-keyframes elipse2Loop {
    0% {
      opacity: 1;
      top: 35px;
      right: 35px;
      width: 30px;
    }

    50% {
      opacity: 0;
      top: 30px;
      right: 30px;
      width: 40px;
    }

    100% {
      opacity: 1;
      top: 35px;
      right: 35px;
      width: 30px;
    }
}

@keyframes elipse2Loop {
    0% {
      opacity: 1;
      top: 35px;
      right: 35px;
      width: 30px;
    }

    50% {
      opacity: 0;
      top: 30px;
      right: 30px;
      width: 40px;
    }

    100% {
      opacity: 1;
      top: 35px;
      right: 35px;
      width: 30px;
    }
}
}

@media (min-width: 750px) {
@-webkit-keyframes elipse1Loop {
    0% {
      opacity: 1;
      top: 30px;
      right: 40px;
      width: 40px;
    }

    50% {
      opacity: 0;
      top: 25px;
      right: 35px;
      width: 50px;
    }

    100% {
      opacity: 1;
      top: 30px;
      right: 40px;
      width: 40px;
    }
}
@keyframes elipse1Loop {
    0% {
      opacity: 1;
      top: 30px;
      right: 40px;
      width: 40px;
    }

    50% {
      opacity: 0;
      top: 25px;
      right: 35px;
      width: 50px;
    }

    100% {
      opacity: 1;
      top: 30px;
      right: 40px;
      width: 40px;
    }
}

@-webkit-keyframes elipse2Loop {
    0% {
      opacity: 1;
      top: 35px;
      right: 45px;
      width: 30px;
    }

    50% {
      opacity: 0;
      top: 30px;
      right: 40px;
      width: 40px;
    }

    100% {
      opacity: 1;
      top: 35px;
      right: 45px;
      width: 30px;
    }
}

@keyframes elipse2Loop {
    0% {
      opacity: 1;
      top: 35px;
      right: 45px;
      width: 30px;
    }

    50% {
      opacity: 0;
      top: 30px;
      right: 40px;
      width: 40px;
    }

    100% {
      opacity: 1;
      top: 35px;
      right: 45px;
      width: 30px;
    }
}
}

h1 {
  font-family: "Asimove";
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 50.4px;
  color: #ffffff;
}

h2 {
  font-family: "Source_Sans_Bold";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: #ffffff;
}

h3 {
  font-family: "Source_Sans_Bold";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p,
span {
  font-family: "Source_Sans_Regular";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Source_Sans_Regular";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Source_Sans_Regular";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

a {
  text-decoration: none;
  font-family: "Source_Sans_Regular";
}

@media (min-width: 330px) {
  #logo {
    position: fixed;
    z-index: 10;
    margin-top: 5vh;
    margin-left: 2vw;
    width: 98vw;
    height: auto;
    float: left;
  }

  #logo svg {
    width: 10%;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
}

@media (min-width: 750px) {
  #logo {
    position: fixed;
    margin-top: 5vh;
    margin-left: 2vw;
    width: 98vw;
    height: auto;
    float: left;
  }

  #logo svg {
    width: 5%;
    -webkit-transition: 100ms;
    transition: 100ms;
  }
}

.input-group {
  height: auto;
  margin: 2.5%;
  float: left;
  font-family: "Source_Sans_Regular";
}

@media (min-width: 330px) {
  .input-group {
    width: 100%;
  }

  .input-group input,
  .input-group textarea {
    font-family: "Source_Sans_Regular";
    width: 80%;
    background-color: #ffeb0c;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-top: 5px;
    min-height: 30px;
    outline: none;
    -webkit-appearance: none;
    resize: none;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  .input-group input:focus,
  .input-group textarea:focus {
    border: 2px solid #000002;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
}

@media (min-width: 750px) {
  .input-group {
    width: 100%;
  }

  .input-group input,
  .input-group textarea {
    font-family: "Source_Sans_Regular";
    width: 100%;
    background-color: #ffeb0c;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-top: 5px;
    min-height: 30px;
    outline: none;
    -webkit-appearance: none;
    resize: none;
    -webkit-transition: 100ms;
    transition: 100ms;
  }

  .input-group input:focus,
  .input-group textarea:focus {
    border: 2px solid #000002;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
}

.input-group label {
  width: 100%;
  float: left;
  font-size: 18px;
  font-family: "Source_Sans_Regular";
}

.input-group button {
  float: right;
  background-color: #ffeb0c;
  color: #ffffff;
  font-size: 34px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

/* Larger than mobile */

@media (min-width: 400px) {
  .col.six {
    width: 96%;
    margin: 2%;
    height: auto;
    float: left;
  }
}

/* Larger than tablet */

@media (min-width: 750px) {
  .col.six {
    width: 45%;
    margin: 2.5%;
    min-height: 100vh;
    float: left;
  }
}

/* Larger than desktop */

/* Larger than Desktop HD */

