@import "variables";
@import "landing";
@import "contact";
@import "component";
@font-face {
  font-family: "Asimove";
  src: url('/fonts/asimov/AsimovXWid.otf');
}

@font-face {
  font-family: "Asimove-Light";
  src: url('/fonts/asimov/AsimovDist.otf');
}
@font-face {
  font-family: "Source_Sans_Bold";
  font-style: bold;
  src: url('/fonts/Source_Sans/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: "Source_Sans_Regular";
  src: url('/fonts/Source_Sans/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: "Source_Sans_Bold";
  src: url('/fonts/Source_Sans/SourceSansPro-Light.ttf');
}
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  @media (min-width: 330px) {
    overflow-y: auto;
    overflow-x: hidden;

  }
  @media (min-width: 750px) {
    overflow: hidden;
  }
}
input, textarea{
  padding: 5px;
}
input, textarea, button{
  outline: none;
}
.no-margin-bottom{
  margin-bottom: 0px!important;
}
.hide-overflow{
  @media (min-width: 400px) {
    overflow-y: auto;
    overflow-x: hidden;

  }
  @media (min-width: 750px) {
    overflow: hidden;
  }
}
#page-title{
  width: 100%;
  float: left;
  height: auto;
  display: block;
  padding-top: 9vh;
  @media (min-width: 330px) {
    #mantra-line{
      float: left;
      display: block;
      width: 5%;
      height: 60px;
      margin-right: 5px;
      border-bottom: 2px solid $black;
    }
    #title{
      width: 80%;
      height: auto;
      float: left;
      h1{
        font-family: "Asimove-Light";
        font-size: 48px;
        line-height: 53px;
        letter-spacing: -0.09em;
      }
    }
    p{
      font-size: 32px;
      margin-left: 7vw;
      font-family: "Source_Sans_Bold";
      font-size: 20px;
    }
  }
  @media (min-width: 750px) {
    #mantra-line{
      width: 6vw;
      height: 60px;
      margin-right: 5px;
      float: left;
      border-bottom: 2px solid $black;
    }
    h1{
      font-family: "Asimove-Light";
      font-size: 48px;
      line-height: 53px;
      letter-spacing: -0.09em;
    }
    p{
      width: 100%;
      float: left;
      position: relative;
      font-size: 20px;
      margin-left: calc(7vw);
      font-family: "Source_Sans_Bold";
      margin-top: -2vh;
    }
  }
}
.color-yellow{
  color: $yellow;
}
.color-black{
  color: $black!important;
  fill: $black;
}
.black-body{
  background-color: $black;
  opacity: 1;
  animation: bodyAppear 800ms ease-in-out;
  overflow: hidden;
}
.yellow-body{
  background-color: $yellow;
  opacity: 1;
  animation: bodyAppear 800ms ease-in-out;
  overflow-x: hidden;
  #yellow-menu-elipse-1{
    circle{
      stroke: $black;
    }
  }
  #yellow-menu-elipse-2{
    circle{
      stroke: $black;
    }
  }
  #yellow-menu-wrap{
    circle{
      fill: $black!important;
    }
  }
}
@keyframes bodyAppear {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
#nav-wrapper{
  @media (min-width: 300px) {
    #contact-link {
      position: fixed;
      top: 6.5vh;
      z-index: 10;
      right: 22vw;
      padding: 1vh;
    }
  }
  @media (min-width: 750px) {
    #contact-link {
      position: fixed;
      top: 6vh;
      z-index: 10;
      right: 7.5vw;
      font-variant: all-small-caps;
      opacity: 0.8;
      font-size: 14px;
      letter-spacing: 0.2em;
      transition: 100ms;
      &:hover{
        opacity: 1;
        transition: 200ms;
      }
      }
    }
}
#nav-toggler{
  position: fixed;
  display: block;
  top: 1%;
  right: 2%;
  z-index: 10;
  width: 65px;
  height: 65px;
  &:hover{
    cursor: pointer;
  }
  &:hover #contact-link{
    color: $white!important;
  }

  #yellow-menu-wrap{
    position: fixed;
    display: block;
    z-index: 12;
    top: 47px;
    @media (min-width: 300px) {
      right: 43px;
    }
    @media (min-width: 750px) {
      right: 53px;
    }
    width: 14px;
    .preloader-actived{
      width: 250vw;
      top:-50%;
      right: -75%;
      z-index: 100;
      transition: 700ms;
    }
    @media (min-width: 300px) {
      &.preloader-active{
        width: 650vw;
        top: -100vh;
        right: -200vw;
        z-index: 100;
        animation: preloaderActiveMobile 600ms ease-in-out;
      }
    }
    @media (min-width: 750px) {
      &.preloader-active{
        width: 250vw;
        top: -440px;
        right: -75%;
        z-index: 100;
        animation: preloaderActive 600ms ease-in-out;
      }
    }
  }
  @keyframes preloaderActiveMobile {
    0%{
      position: fixed;
      z-index: 10;
      top: 40px;
      right: 40px;
      width: 20px;
    }
    100%{
      z-index: 100;
      width: 650vw;
      height: 250vh;
      top: -100vh;
      right: -200vw;
    }
  }
  @keyframes preloaderActive {
    0%{
      position: fixed;
      z-index: 10;
      top: 40px;
      right: 4.25%;
      width: 1.5%;
    }
    100%{
      position: fixed;
      z-index: 100;
      width: 250vw;
      height: 250vh;
      top:-440px;
      right: -75%;
    }
  }
  #yellow-menu-elipse-1{
    position: fixed;
    display: block;
    z-index: 10;
    transition: 500ms;
    &.loop{
      top: 44px;
      right: 3.5%;
      width: 3%;
      animation: elipse1Loop 1.8s ease-in-out infinite;
      transition: 500ms;
    }
    &.focus{
      @media (min-width: 300px) {
        opacity: 1;
        top: 32px;
        right: 32px;
        width: 35px;
      }
      @media (min-width: 750px) {
        opacity: 1;
        top: 34px;
        right: 40px;
        width: 40px;
        width: 40px;
      }
      transition: 500ms;
    }
  }
  #yellow-menu-elipse-2{
    position: fixed;
    display: block;
    z-index: 10;
    transition: 500ms;
    &.loop{
      top: 40px;
      right: 3%;
      width: 40px;
      animation: elipse2Loop 1.2s ease-in-out infinite;
      transition: 500ms;
    }
    &.focus{
      transition: 500ms;
      @media (min-width: 300px) {
        opacity: 1;
        top: 35px;
        right: 35px;
        width: 30px;
      }
      @media (min-width: 750px) {
        opacity: 1;
        top: 39px;
        right: 45px;
        width: 30px;
      }
    }
  }
  @media (min-width: 300px) {
    @keyframes elipse1Loop {
      0%{
        opacity: 1;
        top: 36px;
        right: 32px;
        width: 35px;
      }
      50% {
        opacity: 0;
        top: 32px;
        right: 27px;
        width: 45px;
      }
      100% {
        opacity: 1;
        top: 36px;
        right: 32px;
        width: 35px;
      }
    }
    @keyframes elipse2Loop {
      0%{
        opacity: 1;
        top: 39px;
        right: 35px;
        width: 30px;
      }
      50%{
        opacity: 0;
        top: 34px;
        right: 30px;
        width: 40px;
      }
      100%{
        opacity: 1;
        top: 39px;
        right: 35px;
        width: 30px;
      }
    }
  }
  @media (min-width: 750px) {
    @keyframes elipse1Loop {
      0%{
        opacity: 1;
        top: 34px;
        right: 40px;
        width: 40px;
      }
      50%{
        opacity: 0;
        top: 29px;
        right: 35px;
        width: 50px;
      }
      100%{
        opacity: 1;
        top: 34px;
        right: 40px;
        width: 40px;
      }
    }
    @keyframes elipse2Loop {
      0%{
        opacity: 1;
        top: 39px;
        right: 45px;
        width: 30px;
      }
      50%{
        opacity: 0;
        top: 34px;
        right: 40px;
        width: 40px;
      }
      100%{
        opacity: 1;
        top: 39px;
        right: 45px;
        width: 30px;
      }
    }
  }

}
h1 {
  font-family: "Asimove";
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 50.4px;
  color: $white;
}
h2 {
  font-family: "Source_Sans_Bold";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: $white;
}
h3 {
  font-family: "Source_Sans_Bold";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
p , span{
  font-family: "Source_Sans_Regular";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Source_Sans_Regular";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Source_Sans_Regular";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
a{
  text-decoration: none;
  font-family: "Source_Sans_Regular";
}
#logo{
  @media (min-width: 300px) {
    position: fixed;
    z-index: 10;
    margin-top: 6vh;
    margin-left: 2vw;
    width: 98vw;
    height: auto;
    float: left;
    svg {
      width: 10%;
      transition: 100ms;
    }
  }
  @media (min-width: 750px) {
    position: fixed;
    margin-top: 5vh;
    margin-left: 2vw;
    width: 98vw;
    height: auto;
    float: left;
    svg {
      width: 5%;
      transition: 100ms;
    }
  }
}
.input-group{
  @media (min-width: 300px) {
    width: 100%;
    input, textarea{
      font-family: "Source_Sans_Regular";
      width: 100%;
      background-color: $yellow;
      border: 2px solid $white;
      border-radius: 2px;
      margin-top: 5px;
      min-height: 30px;
      outline: none;
      -webkit-appearance: none;
      resize: none;
      transition: 100ms;
      &:focus{
        border: 2px solid $black;
        transition: 200ms;
      }
    }
  }
  @media (min-width: 750px) {
    width: 100%;
    input, textarea{
      font-family: "Source_Sans_Regular";
      width: 100%;
      background-color: $yellow;
      border: 2px solid $white;
      border-radius: 2px;
      margin-top: 5px;
      min-height: 30px;
      outline: none;
      -webkit-appearance: none;
      resize: none;
      transition: 100ms;
      &:focus{
        border: 2px solid $black;
        transition: 200ms;
      }
    }

  }
  height: auto;
  margin: 2.5%;
  float: left;
  font-family: "Source_Sans_Regular";
  label{
    width: 100%;
    float: left;
    font-size: 18px;
    font-family: "Source_Sans_Regular";
  }
  button{
    float: right;
    background-color: $yellow;
    color: $white;
    font-size: 34px;
    border: 2px solid $white;
    border-radius: 2px;
    outline: none;
  }
}
// columns
/* Larger than mobile */
@media (min-width: 400px) {
  .col{
    &.six{
      width: 96%;
      margin: 2%;
      height: auto;
      float: left;
    }
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  .col{
    &.six{
      width: 45%;
      margin: 2.5%;
      min-height: 100vh;
      float: left;
    }
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
